/*===============-_RESET_-==================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
}

.grid {
  margin-left: 9.25rem;
  margin-right: 9.25rem;
}

/*===============-_NAV_-==================*/
#nav-fluig .line1-fluig,
.line2-fluig {
  height: 19px;
  width: 100%;
}

#nav-fluig .line1-fluig {
  background-color: #646464;
}

#nav-fluig .line2-fluig {
  background-color: #9f9f9f;
}

#nav-fluig .navigation-fluig {
  background-color: #f3f3f3;
  height: 4rem;
}

#nav-fluig .navigation-fluig ul {
  display: flex;
  justify-content: end;
  margin-right: 8.1rem;
  list-style: none;
}

#nav-fluig .navigation-fluig ul li {
  margin-right: 4rem;
  margin: 1.3rem;
}

#nav-fluig .navigation-fluig ul li a {
  text-decoration: none;
  color: #7a7a7a;
}

#nav-fluig .navigation-fluig ul li a:hover {
  color: black;
}
/*===============-_EXEMPLO_-==================*/
#exemplo .title-exemplo h1{
  margin-top: 2.6rem;
}

#exemplo .exemplo-subtitle{
  display: flex;
  margin-top: 1rem;
}

#exemplo .exemplo-subtitle span{
  background: rgb(245, 112, 112);
  color: #ffff;
  border-radius: 16px;
  width: 5rem;
  height: 1.5rem;
  padding-left: 1.5rem;
  padding-top:.1rem;
  margin-right: 1rem;
}

#exemplo .explication{
  margin-top: 1rem;
}

#exemplo .video{
  width: 681px;
  height: 460px;
  background-color: silver;
}

#exemplo .video{
  margin-top: 2.8rem;
}
/*===============-_FOOTERFLUIG_-==================*/
#end-fluig {
  margin-top: 7.6rem;
  background: #f3f3f3;
  width: 100%;
  height: 11.3rem;
}

#end-fluig p {
  margin: 2rem;
  text-align: center;
}

#end-fluig .networking-fluig {
  display: flex;
  justify-content: center;
}

#end-fluig .networking-fluig a {
  margin-top: 3.3rem;
  margin-left: 2rem;
}