/*===============-_RESET_-==================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
}

.grid {
  margin-left: 9.25rem;
  margin-right: 9.25rem;
}

/*===============-_NAV_-==================*/
#nav .line1,
.line2 {
  height: 19px;
  width: 100%;
}

#nav .line1 {
  background-color: #646464;
}

#nav .line2 {
  background-color: #9f9f9f;
}

#nav .navigation {
  background-color: #f3f3f3;
  height: 4rem;
}

#nav .navigation ul {
  display: flex;
  justify-content: end;
  margin-right: 8.1rem;
  list-style: none;
}

#nav .navigation ul li {
  margin-right: 4rem;
  margin: 1.3rem;
}

#nav .navigation ul li a {
  text-decoration: none;
  color: #7a7a7a;
}

#nav .navigation ul li a:hover {
  color: black;
}

/*===============-_INFO_-==================*/
#info {
  display: flex;
}

#info .info-text {
  margin-top: 8.5rem;
  margin-right: 7.25rem;
}

#info .info-img {
  margin-right: 8.5rem;
  margin-top: 8.06rem;
}

#info .info-img img {
  width: 15.1rem;
  height: 15.1rem;
  border-radius: 50%;
  border: solid 8px #c4c4c4;
}

.download {
  margin-top: 2.9rem;
  margin-bottom: 4.4rem;
}

.btn {
  width: 12.6rem;
  height: 2.9rem;
  background: #787878;
  border: #787878;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}

.btn:hover {
  background: black;
  border: black;
  color: #fff;
}

/*===============-_SKILLS_-==================*/
#skills {
  background: #f3f3f3;
  width: 100%;
  height: 21.25rem;
}

#skills .title {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#skills .title .soft {
  margin-right: 10rem;
}

h3 {
  padding: 0.1rem;
}

#skills .title .hard {
  margin-left: 10rem;
}

#skills .title .divider {
  border: solid 1px #c4c4c4;
  height: 19.5rem;
}

/*=====BARRA DE SKILLS ANIMAÇÃO=====*/
.container {
  width: 20rem;
  height: 1.5rem;
  background: #c4c4c4;
  border-radius: 5px;
}
.container .bar1 {
  height: 1.5rem;
  background: #000000;
  border-radius: 5px;
  animation: anime1 5s normal;
  width: 100%;
}

.container .bar2 {
  height: 1.5rem;
  background: #000000;
  border-radius: 5px;
  animation: anime2 5s normal;
  width: 100%;
}

.container .bar3 {
  height: 1.5rem;
  background: #000000;
  border-radius: 5px;
  animation: anime3 5s normal;
  width: 95%;
}

.container .bar4 {
  height: 1.5rem;
  background: #000000;
  border-radius: 5px;
  animation: anime4 5s normal;
  width: 75%;
}

.container .bar5 {
  height: 1.5rem;
  background: #000000;
  border-radius: 5px;
  animation: anime5 5s normal;
  width: 50%;
}

.container .bar6 {
  height: 1.5rem;
  background: #000000;
  border-radius: 5px;
  animation: anime6 5s normal;
  width: 100%;
}

.container .bar7 {
  height: 1.5rem;
  background: #000000;
  border-radius: 5px;
  animation: anime7 5s normal;
  width: 90%;
}

.container .bar8 {
  height: 1.5rem;
  background: #000000;
  border-radius: 5px;
  animation: anime8 5s normal;
  width: 65%;
}

.container .bar9 {
  height: 1.5rem;
  background: #000000;
  border-radius: 5px;
  animation: anime9 5s normal;
  width: 50%;
}

.container .bar10 {
  height: 1.5rem;
  background: #000000;
  border-radius: 5px;
  animation: anime10 5s normal;
  width: 35%;
}

@keyframes anime1 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes anime2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes anime3 {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@keyframes anime4 {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes anime5 {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes anime6 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes anime7 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes anime8 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes anime9 {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes anime10 {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

/*===============-_WORKS_-==================*/
#works .works-subtitle {
  margin-top: 1.8rem;
  text-decoration: underline;
}

#works .list-works {
  display: flex;
}

#works .list-works .work-image {
  margin-top: 2rem;
}

#works .list-works .work-image a img {
  width: 19.3rem;
  height: 15.2rem;
  border-radius: 10px;
  box-shadow: 50px -17px 8px -5px #c4c4c4;
}

#works .title {
  margin-left: 4rem;
}

#works .title .time {
  display: flex;
}

#works .time h5 {
  margin-right: 1rem;
  background-color: #000;
  color: #fff;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 1rem;
}

#works .time span {
  color: #999999;
}

#works .explication {
  margin-top: 1.2rem;
}

#works .divider-horizon {
  height: 3px;
  background: linear-gradient(to right, #000, #c4c4c4);
  margin: 2rem;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*===============-_WORKS_-==================*/
#end {
  margin-top: 7.6rem;
  background: #f3f3f3;
  width: 100%;
  height: 11.3rem;
}

#end p {
  margin: 2rem;
  text-align: center;
}

#end .networking {
  display: flex;
  justify-content: center;
}

#end .networking a {
  margin-top: 3.3rem;
  margin-left: 2rem;
}

/*===============-_DATA-ANIMATIONSjs_-==================*/

/*-----------texto h1 e p-------------*/
[data-animation] {
  opacity: 0;
  transition: 3s;
}

[data-animation="left"]{
  transform:translate3d(-50px ,0 ,0);
}

[data-animation="rigth"]{
  transform: translate3d(50px ,0 ,0);
}

[data-animation].animation{
  opacity: 1;
  transform:translate3d(0px, 0px, 0px);
}

/*-----------btn download-------------*/
[data-animationDownload]{
  opacity: 0;
  transition: 3s;
}

[data-animationDownload="left"]{
  transform: translate3d(-50px ,0 ,0);
}

[data-animationDownload="rigth"]{
  transform: translate3d(50px ,0 ,0);
}


[data-animationDownload].animationD{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/*-----------img perfil-------------*/
[data-animationImg]{
  opacity: 0;
  transition: 3s;
}

[data-animationImg="left"]{
  transform: translate3d(-50px ,0 ,0);
}

[data-animationImg="rigth"]{
  transform: translate3d(50px ,0 ,0);
}

[data-animationImg].animationImg{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/*----------- Works -------------*/
[data-animationImgWorks]{
  opacity: 0;
  transition: 3s;
}

[data-animationImgWorks="left"]{
  transform: translate3d(-50px, 0, 0);
}

[data-animationImgWorks="right"]{
  transform: translate3d(50px, 0, 0);
}

[data-animationImgWorks].animationImgWorks{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}